					<script language="javascript">
						so.addParam('flashvars','&type=playlist&repeat=list&file=/assets/playlists/bio.xspf&autostart=true&skin=/assets/stylish/stylish.swf');
						so.write('theplayer');
					</script>
					<div id="title"><%= @title %></div>
					<p>(as of June 2008)</p>
					If you watched the very short soap-opera-bio of Charice (in Youtube, of course) where they 
					moved to an empty house and have to sleep on the floor, you won't learn much about Charice's 
					life, but you will learn a lot about the state of Philippine dramas. Typically, our dramas 
					have overly melodramatic scenes, equally melodramatic dialogues, very, very contrived 
					situations, and very, <i>very</i> dragging scenes. But thanks to the influx of foreign 
          <i>telenovelas</i>, notably from Mexico and Korea, the Philippine drama scene has been
          revolutionized. Well, just a bit: the pacing became faster, situations became more realistic
          and the dialogues became more natural. Change thay should or they will be swept away by the 
          tsunami of foreign dramas. I am not saying that the soap-opera-bio is one of the improved ones. 
          I am also not saying that what was depicted was untrue. But I digress.
					</p>
					<p>
					Although accounts of Charice's early life are sketchy, this is what I gathered. 
					</p>
					<p>
					She was three years old when she last saw her father. The following year, her mother discovered 
					her inborn talent for singing.
					</p>
					<p>
					Since the mother had to care for both Charice and her younger brother, they have to stay 
					at the grandmother's house where the mother somehow managed to make ends meet by working 
					at a garments factory. During this period, Charice used to entertain family and friends at 
					gatherings by singing. But soon the family was evicted from the grandmother's house (that 
					was when they moved to that small empty house as depicted in that soap-opera-bio). The mother 
					found her income was hardly enough even when she was working sixteen hours a day. Finding 
					themselves mired in desperate straits, Charice drove herself to join singing contests to 
					help the family survive. Join contests	she did, in almost every village and town fiesta 
          that held a singing contest, and mostly won them. She also joined every TV talent show she 
          qualified to compete in. 
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("charicelbs.jpg", onclick: "return playVideo('charicelbs.flv');") %>
					</div>
					In the last talent contest she joined, Little Big Star (Season 1, 2005), she won third 
					place, to the disgust of those who were sure she should have won first. Some viewers were 
					known to turn off their TV sets. Others would like to throw things at their TV sets. Others 
					would like to throw their TV sets. Since there was no surge in buying new TV sets the next 
					day, either they checked themselves or were too broke to care for a new one. Years	later, 
					Charice would be teary-eyed in recalling how much they needed the champion's prize money 
					at that time.
					</p>
					<p>
					But the judging was based on half the weight given to the judges and the other half to 
					text-message voters. An overwhelming majority went for the looks. Charice only had the 
					talent. Which tells you a lot about my countrymen. But some speculate that the voting was 
          rigged so that the guy with the looks will win because he is more marketable. And the guy's 
          mother happened to have the same family name as the owners of the TV company. Maybe it's just a 
          coincidence, but they never released the results of the text voting to this day. Perhaps the 
          people's disenchantment was felt in Season 2, which had to be cut short because of the drastic 
          drop in ratings. Maybe due to the great number of broken TV sets.
					</p>
					<p>
					Having sung in a band, Charice's mother Raquel knows a thing or two about singing. Charice never 
					had any formal training but she knows how to use her chest and head voice and how to prevent 
					abuse to the vocal cords. She can effortlessly and seamlessly switch from head to chest voice 
          and vice versa. Low note or high note, her voice is consistently rich and full. She has such
          fine-grained control of the power: she	can hold, release and sustain it at will, thus giving
          the song her own stamp. These pointers can only come from her mother who tutored her since
          childhood. And she keeps improving, which means she is constantly practicing. 
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("charicebianca.jpg", onclick: "return playVideo('charicebianca.flv');") %>
					</div>
					Videos of Charice started appearing on Youtube as early as February 2006 but it was only when a 
          Bianca-Charice showdown was posted that an immediate impact was felt. It was this video that 
          really started it all, and it all started because of Falsevoice. 
					</p>
					<p>
					Falsevoice (David Due&ntilde;as) became a believer the first time he saw Charice on TV. He cannot 
          accept that Charice will simply fade away when he knew that Charice has a talent the world should 
          hear. When the first videos of Charice appeared, most international viewers were incredulous: a 
          little girl like her, an Asian at that, can never sing that good and therefore she is just lip-synching, 
          or the videos are fake. 
					</p>
					<p>
					Then Falsevoice saw Bianca Ryan's performance in "America's Got Talent" where the judges
					and the audience were bowled over by Bianca's performance. He decided to create a "face-off" 
					video because he was convinced that Charice is just as good, if not better, than Bianca. 
					He uploaded the video in early 2007. But uploading isn't everything; you have to market it 
					so people will know its existence. That is what Falsevoice did, by inviting almost every 
					known channel in Youtube who showed interest - even the slightest - in either Bianca or 
					Charice. It was the video plus the frenzied campaign that kick-started the Charice 
					phenomenon.
					</p>
					<p>
					The video shown here is not credited to FalseVoice; his account was removed from Youtube 
					on request of the very same TV company holding on to Charice (thankfully, some viewers 
					downloaded this video and re-posted it). When this video was removed, it already had more 
					than five million views. Its removal is a testament to the lengths, or depths, to which
					a greedy company will go to rewrite history, never mind if it harms the career of the one 
					they are supposed to promote. 
					</p>
					<p>
					The response to this video was such that it garnered a million views in just two months 
					(this seems lame compared to today's instant sensations). The overwhelming majority voted 
          for Charice. More videos of Charice appeared and international viewers lapped them up and seemed insatiable.
					</p>
					<p>
					Before FalseVoice posted the videos, nothing much was happening to Charice. It was over a 
					year since Little Big Star. Some of Charice's fellow contestants were given juicy roles in 
					prime shows by the TV company, but Charice had virtually disappeared. During this period of 
					obscurity, Charice would frequently hear that her singing isn't really that good, her 
					personality is plain, and she doesn't have the looks to succeed. But after Charice became 
					an international sensation through Youtube, this TV company is now trying to grab credit 
					for her success. That is why they requested the removal of Falsevoice's account: to prevent 
					the credit from going elsewhere.
					</p>
					<p>
					But trying to grab credit and riding on Charice's train is not limited to the TV company. 
					Even	ordinary Filipinos are also trying to grab credit and attention by posting "filipinos 
					are the best" or "filipinos rule" or "filipinos are talented" on Youtube comments. They are 
					shouting at the top of their lungs that Filipinos are humble. They are so eager to hitch a 
          ride on Charice's growing fame when they have absolutely nothing to do with Charice's achievements. 
          Since her talent is inborn, she could have been born somewhere else in Asia (being part Chinese) 
          and she would have sounded the same.
					</p>
					<p>
					But this only indicates the level of despair felt by my countrymen. Other than 
          <a href="http://www.youtube.com/watch?v=eeO7Ea3Adv4">Manny Pacquiao</a> (a boxer) and 
          <a href="http://www.youtube.com/watch?v=PO5X01WGeEM">Arnel Pineda</a> (a rock singer), it 
					seems Charice is the only bright spot happening to our country after a long spell of gloom.
					</p>
					<p>
					Falsevoice's videos triggered the dizzying series of events in Charice's life. From then on, 
          Charice's ascent in the international music scene was irreversible and took a life of its own. 
					</p>
					<p>
					<b>April 2007. </b>Charice got invited by a Swedish indie record company. Just think of 
					the phenomenal ABBA; the Swedes must know talent when they see one.
					</p>
					<p>
					<b>June 2007. </b>Charice was invited to guest at Star King, one of Korea's most popular 
					TV shows, after they saw her singing "And I Am Telling You I'm Not Going" (Jennifer Holliday) 
					in another Falsevoice upload. Obviously, the Koreans know talent too. Among Asians, they 
					are way ahead :-).
					</p>
					<p>
					<b>June 2007.</b> Charice left the country for the first time and went to Sweden to record 
					some songs for Ten Songs Production.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("charicekorea.jpg", onclick: "return playVideo('charicekorea.flv');") %>
					</div>
					<b>October 2007.</b> Charice went to Korea for the taping on Star King. Picture this: a 
					15-year-old, being invited to guest at a foreign show for the first time, and, from 
					relative obscurity back home, finding herself quite a sensation in that foreign country 
					and being introduced to all sorts of stars even before her performance. That pre-show 
					experience boosted her self-esteem and confidence so much and resulted into that stunning 
					total package the Koreans saw that day. Compared to her videos before this appearance, 
					this was a totally different Charice. (Charice changed "man" to "mom" to make the song a 
          tribute to her mother.)
					</p>
					<p>
					<b>October 2007.</b> Her jaw-dropping performance on Star King was uploaded to Youtube 
					(later with English subs by coolsmurf, Alvin Lim, a Singaporean). FalseVoice produced 
					another Bianca-Charice showdown. Her international popularity soared. Her videos were 
					attracting views by the millions, and the videos kept multiplying. The Charice buzz reached 
					fever pitch.
					</p>
					<p>
					<b>November 2007.</b> Ellen Degeneres caught the Charice buzz through her staff. After 
          finding out for herself, Ellen lost no time in inviting Charice to her show so she could 
          air her before the end of the year, telling Charice "I'm your number one fan!" I can imagine 
          the frenzy of excitement in Charice's household after the calls. America! Their heads must 
          be up there in the clouds.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("starisborn.jpg", onclick: "return playVideo('starisborn.flv');") %>
					</div>
					<b>November 14, 2007.</b> E!'s The Daily Ten TV network features Charice's Star King 
					performance and declares "A Star is Born."
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("queenisborn.jpg", onclick: "return playVideo('queenisborn.flv');") %>
					</div>
					<b>November 16, 2007.</b> E!'s Hollywood Royalty segment features Charice's Star King 
					performance and declares "A Queen is Born."	Charice became a full-fledged international 
          singing sensation without peddling a single record, all thanks to Youtube.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("chariceellen.jpg", onclick: "return playVideo('chariceellen.flv');") %>
					</div>
					<b>December 18, 2007.</b> During the brief inteview with Ellen DeGeneres, in her mighty  
          effort to hide her tension, all Charice could say was nice person, nice people, nice... 
          while Ellen could not hide her torment. You can see the extreme relief - and disbelief - 
          on Charice's face after her first performance. She had just done the almost impossible: 
          perform in the U.S. to a global TV audience, which, among her countrymen, only one had done before  
          (<a href="http://www.youtube.com/watch?v=Bd2vUi4rBVU">Banig Roberto</a>). It was also 
          her first thrill of a standing ovation from a live audience, a far cry from what she had been getting in her own country.
					</p>
					<p>
					<b>December 2007.</b> Even before Ellen's show, an equally remarkable event was unfolding. 
					<i>The</i> David Foster met with Charice and, after making her sing some songs, took time 
          to coach and give pointers to Charice on her singing. He also brought Charice to Las Vegas 
          on his private jet to watch Celine Dion's farewell concert ending her five-year residency 
          at Caesar's Palace. Charice was moved to tears after seeing Celine Dion right in front of 
          her (they were seated front/center), singing "To Love You More," which was Charice's winning 
          piece when she joined a talent contest as a nine-year-old. Then David Foster contacted Oprah Winfrey. 
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("charicekorea2.jpg", onclick: "return playVideo('charicekorea2.flv');") %>
					</div>
					<b>December 25, 2007.</b> Charice made another appearance on Korea's Star King (broadcast 
					December 29, 2007). It must have been the best Christmas season she ever experienced. The 
					third-placer in a children's contest in Manila is now a globe-trotter: Manila, Korea, Manila, 
          L.A., Las Vegas, L.A., Korea, Manila, in just three months. Well, okey, just half the globe.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("chariceogrady1.jpg", onclick: "return playVideo('chariceogrady1.flv');") %>
					</div>
					<b>April 8, 2008.</b> Made aware of Charice through Ellen's show, Paul O'Grady invited 
					Charice to his show in London to sing the same songs she sang at Ellen's, and the Brits 
					got a taste of Charice. They claim that even when stars perform at the Paul O'Grady show,
          the studio audience never do a standing ovation. With Charice, they did it twice.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("chariceoprah.jpg", onclick: "return playVideo('chariceoprah.flv');") %>
					</div>
					<b>April 17, 2008.</b> Charice fulfilled her dream and Oprah fell in love as Charice gave it her 
					all at Oprah's show. Of all the steps in Charice's path to stardom, her meeting Oprah proved to 
          be the most pivotal.
					</p>
					<p>
          After the taping, Charice and her mom were already at the airport when Oprah decided to call them 
          back. Oprah thought that Charice must be a big star by now in her home country, but when she found 
          out that they were virtually living in poverty, she decided to help Charice. What made her decide 
          to call them back we will never know, but perhaps Someone Up There meant it to be.
					</p>
					<p>
					<b>May 12, 2008.</b> Charice's performance at Oprah's show was aired and she was exposed 
					to an even wider global audience. 
					</p>
					<p>
					Now that the seeds for Charice's success in the world music stage have been sown, all that's 
					needed was proper care. Oprah joined forces with David Foster to provide that.
					</p>
					<p>
					<b>May 17, 2008.</b> At the opening of the MGM Grand Hotel and Casino in Connecticut, 
					David added Charice to the line-up of performing stars which included Josh Groban and 
					Alicia Keys, and an incredible thing happened: she was the only one who got a standing 
					ovation. Twice.
					</p>
					<p>
					<b>May 23, 2008.</b> On Oprah's request, David Foster included Charice to the roster of 
					superstars at an even bigger event: the David Foster and Friends concert in Las Vegas. 
					Among the performers in this once-in-a-lifetime gathering of stars were Andrea Bocelli, 
					Michael Buble, Josh Groban, Peter Cetera, BabyFace, Brian McKnight, Boz Scaggs and other 
					legends. Oprah sent some of her staff to make sure Charice had everything she needed during 
					the concert.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("charicelasvegas.jpg", onclick: "return playVideo('charicelasvegas.flv');") %>
					</div>
					This video came from scubajoe12. Videocams were not allowed in the venue, so this must	
					have been taken with a cellphone camera. This video may not be of the best quality but
          it gives us an idea what took place that night. The 
					<a href=http://www.amazon.ca/Hit-Man-David-Foster-Friends/dp/B0018CK5RW> CD/DVD</a> 
					of the concert will be available in fall 2008. You should get this CD/DVD when it comes 
          out; the audio here does not give justice to Charice.
					</p>
					<p>
					Mom Raquel cried throughout Charice's performance, still incredulous at what she was witnessing.
					</p>
					<p>
					One review says <a href="http://www.lvrj.com/news/19245909.html">that night truly belonged 
					to Charice</a>. Another review (no longer available online) said she "stole the show that 
					night" and that her performance "brought the audience to tears and to their feet." Somehow, 
					incredibly, from a virtual unknown just a few months back, Charice joined the pinnacle of
					the world music scene, and what an entrance. 
					</p>
          <p>
					What separates Charice from other prodigies? What makes Youtube viewers fixated and live 
					audiences stand up in awe after each performance? There may be others with the same talent, 
					but nobody sings the way she does: she moves and captivates audiences up to the last note. 
					What makes her tick? 
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("charicebulilit.jpg", onclick: "return playVideo('charicebulilit.flv');") %>
					</div>
					Perhaps the answer is in her past. Here is Charice at nine years old (2002). This was 
					three years before Little Big Star. From her appearance, I say she is not getting the 
					right, or enough, nourishment. (The dress she is wearing here was sewn from scraps by her 
          mother who was then working at a garments factory.) As you watch, just think that their 
          food for the next few	weeks, including tonight's dinner, depends on her winning this contest. 
					</p>
					<p>
					She saw her father walk out of their lives when she was three, lost the support of her 
          grandmother and most of their relatives shortly afterwards, and since then had to struggle 
          almost constantly just to survive. Having gone through a lot at such a tender age, you 
          will understand why she sings with so much heart. Incidentally, she won that contest.
					</p>
					<p>
					I wish this story ended here, but I have to leave you with this aftertaste.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("chariceoffkey.jpg", onclick: "return playVideo('chariceoffkey.flv');") %>
					</div>
					<b>June 15, 2008.</b> In a show on the very same Philippine TV channel, she was informed 
          she will be doing a duet with a guy only right before the show. Then they lowered the key 
          for the accompaniment without telling her beforehand so she was surprised to find herself 
          singing at a much lower key than they practiced on.
					</p>
					<p>
					The guy she did a duet with turned out to be the very	guy who won in Little Big Star. It 
          seems they did not want the guy to sound bested by Charice; they wanted Charice to come 
					off worse. Charice always prided herself on giving her all in every performance, but she 
					was so frustrated and heartbroken with this performance that she cried after the show. 
          </p>
					<hr>
					<p>
					For an interesting angle, 
					<a href="http://showbizandstyle.inquirer.net/entertainment/entertainment/view/20080414-130356/Next-for-Charice-debut-CD-and-Oprah">
					read this article</a>.
					</p>



