					<script language="javascript">
						so.addParam('flashvars','&file=/assets/charicekorea.flv&autostart=true&skin=/assets/stylish/stylish.swf');
						so.write('theplayer');
					</script>
					<div id="title"><%= @title %></div>
					<div class="thumbnail">
						<%= image_tag("charicekorea1.jpg", onclick: "return playVideo('charicekorea.flv');") %>
					</div>
					While browsing on Youtube one night last November 2007, I clicked on one of the "Videos being 
          watched right now..."	and I discovered Charice Pempengco before she was simply called Charice.
          What followed was a series of near-sleepless nights surfing Youtube looking for more of her,
          yet I can't seem to get enough.
					<p>
					This was Charice's first appearance on Star King in Korea just the month before and, as 
					far as I can recall, the number of views was nearing one million. She was already a Youtube 
					sensation by then and I felt I came so late to the party. She was singing with such verve 
					and confidence most of my countrymen will take as cockiness. I couldn't believe she came
					from my country. I know our stars' preferred singing voice: artificially thin and very 
					nasal. And very boring stage presence. 
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("pinaydivas.jpg", onclick: "return playVideo('pinaydivas.flv');") %>
					</div>
					Here are some singers whom most of my countrymen consider absolutely	sensational (take 
					note at 2:10 of this video to hear a particularly nasal part). One of them is even labelled 
					"Asia's Songbird," except nobody bothered to tell the rest of Asia. In fact, I doubt if any of 
          these "songbirds" are known outside of the Filipino community. 
					</p>
					<p>
					I said "outside of the Filipino community" because we are scattered all over, therefore I 
					cannot say "outside of the Philippines." We have our own version of the diaspora (as most 
					third world countries now have), driven by economic hardships back home, owing much to a 
					succession of governments who have a penchant for filling their own pockets instead of the 
					government coffers. But it is not just the top officials who are doing this; even the lowliest 
					clerks in government offices share this virtue. We grease hands to make deals and get transactions
          done. We bribe everybody in sight: the police, the judges, the teachers, even the priests.
          We coax, we cajole, we plead, we nag, we offer favors. Corruption is so endemic and so part
          of our culture that even our grandparents cannot recall a time it was different. 
					</p>
					<p>
					Yet we keep blaming the government for the constant mess we're in, as if they caused it all 
					and the rest of us are blameless. The typical Filipino knows corruption is everywhere, but
          no Filipino you talk to will ever admit he is corrupt. It is always somebody else, like, you 
          know, The Government. He will paint you a government as the source of all evil while viewing
          himself as the epitome of righteousness. We can't seem to realize that we as a people are the
          problem and that how ever often we change governments, or constitutions, or laws, things will
          remain the same. But thanks for listening to this rant, let's go back to our topic.
					</p>
					<p>
					So when Filipino stars claim a worldwide following, they are not lying technically although
					I'm sure they know it is misleading. I am also sure they know it is bragging. They casually 
					make remarks like "my concert in New York" or "my successful concert in London" or "my 
					worldwide concert tour," as if the American, British or world public came in droves to watch 
          them. Of course, the American, British and world public do not know them. And of course, only
          Filipinos watch them. But not all. Some Filipinos think watching them is to die for, others
          would rather die than watch	them. 
					</p>
					<p>
					And how do some of my countrymen regard Charice? "Over the top" or "she is cocky" or "she seems 
					to be shouting all the time." I equate this to us Filipinos being so used to eating our own 
					version of spaghetti so that when confronted with the real Italian article, we think it is 
					done wrong and the guy who did it has no business cooking. So some Filipinos think Charice
					has no business singing.
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("charicepostlbs.jpg", onclick: "return playVideo('charicepostlbs.flv');") %>
					</div>
					Charice is the genuine article. She has been like that consistently since her early years. 
          She is one of the few who dared break free from the mold and done it spectacularly. I can 
          see the inborn talent but I can also see the great amount of hard work and discipline behind that voice. 
					</p>
					<p>
					Some of my countrymen claim there are thousands like her in the Philippines, but when I 
					searched high and low in Youtube (where else?), I see nobody like her, and each one that 
					they claim to be as great, if not greater, is in fact of the same mold as the others. So I 
					confirmed that (1) Charice is unique and that (2) Filipinos are prone to exaggerations and 
					hasty generalizations (like this one), which I think is a common malady among 
					Spanish-colonized peoples: the colonized mimic the colonizers, slaves mimic masters.
					</p>
					<p>
					I don't blame my countrymen. We have been so used to listening to our own version of singing, 
          most of us cannot see (or hear) that Charice is an incredibly rare talent. That is why the fans
          of the "divas" above are still clueless as to why the world is not blown away by their idols'
          singing prowess despite the fans' tireless efforts to upload each and every act of their idols
          to every video-sharing site to make the hapless world realize Charice is nothing compared to them. 
					</p>
					<p>
					If you think only the unlettered or unsophisticated regard Charice this way, here is the
					<a href="http://showbizandstyle.inquirer.net/entertainment/entertainment/view/20080616-142874/Cant-bear-the-birit">
					view of an arts columnist of a Philippine daily</a>. His point is well taken, but, as with 
					so many Filipinos, he is blind (or deaf) to Charice's uniqueness and lumps her together 
					with the rest. Since he is campaigning for the enlightenment of Ellen Degeneres and Oprah
					Winfrey on the finer points of singing, I was wondering why he left out David Foster, Andrea 
          Bocelli, Josh Groban, Michael Buble and others who displayed a remarkable lack of refinement
          by being awed by Charice's talent. He also left out Whitney Houston, Celine Dion and Mariah
          Carey, the subjects of Charice's "copycat imitation."
					</p>
					<p>
					<div class="thumbnail">
						<%= image_tag("chariceathome.jpg", onclick: "return playVideo('chariceathome.flv');") %>
					</div>
					So Charice lacks "artistic insight, interpretation, emotion, shading, contrast, subtlety, 
					variety, musical 'coloring'". And singing from the heart. Why we think a woman is so beautiful: 
					because her nose is dead center, her left eyebrow differs in curvature from her 
          right eyebrow by exactly 2.1 millimeters, her cheekbones are more prominent from the mean average 
          by 0.49 millimeters. And the reason we find a woman so sexy, the distance between her two proud	
          cannons is proportional to the distance between her belly button and her... knees. Or her stomach is 
					a little bit lower than the average due to her extended esophagus, and her lungs are pushed a bit 
          forward, and her liver is way down towards her... I just don't know how you are going to quantify singing from the heart.
					</p>
					<p>
					A professionalized American Idol:
					</p>
					<p>
					Simon : And as for your variety, I can only give you three because that is how much variety I -
					</p>
					<p>
					Ryan : I'm sorry Simon, your ten minutes is up. Your analysis took fifteen minutes already. 
					You see we only have four hours left, and we still have twenty-four contestants more to go. 
					I now have to give the floor, or stage, or mic, whatever, to Clay Aiken, our first contestant. 
					Clay, you have five minutes to give us your take on our judges' scoring.
					</p>
					<p>
					Clay : Can I have Paula's score on my singing from the heart again, and why Randy thinks 
					I'm singing more from the stomach than -
					</p>
					<p>
					Ryan : Thank you Clay. And for our next contestant... after this!
					</p>
					<p>
					And the commercials roll in rapid-fire succession to make up for lost time.
					</p>
					<hr>
					<p>
					<div class="thumbnail">
						<img src="/assets/charicepotd.jpg", onclick: "return playVideo('charicepotd.flv');") %>
					</div>
					Here is Charice singing a David Foster / Celine Dion piece. Celine Dion performed this 
					David Foster-co-authored song at the opening ceremonies of the Atlanta Olympics. 
					</p>
					<div style="clear:left;"></div>
          <hr />
					<p>
          <i>About Lea Salonga</i>
          </p>
          <p>
          <a href="http://www.youtube.com/watch?v=e7Ns1U0OnE8&feature=related">Lea Salonga</a> 
          starred in West End and Broadway productions and won the Laurence Olivier Award (UK) in one year 
          and the Tony Award (US) the following year, which is a grand slam in theater awards and IS a huge 
          achievement, and Filipinos should be mighty proud of that. 
          <p>
          I used to hear Lea's songs on the airwaves from morning to nighttime, so I was filled up to here with
          her songs. Some Filipino 'experts' or 'music connoisseurs' insist that if you are not ablosultely
          thrilled with her voice, you don't have a bone with class in your frigging body.
          </p>
          <p>
          Listening to these so-called experts, you will get the impression that Lea is the only singer in a 
          musical that counts. These stuffy, pompous a******* would like to pretend that there are no other 
          singers out there, and the likes of 
          <a href="http://www.youtube.com/watch?v=X4oPWINVVEw">Suzan Erens</a>,
          <a href="http://www.youtube.com/watch?v=PEMDps8G6Co">Sarah Brightman</a>,
          <a href="http://www.youtube.com/watch?v=ciOalICSUAo">Elaine Paige</a>, 
          <a href="http://www.youtube.com/watch?v=0d01NpclvlE">Patti Lupone</a>, 
          <a href="http://www.youtube.com/watch?v=9ZoPztI5HJA">Tina Arena</a> or
          <a href="http://www.youtube.com/watch?v=2shR99NnwCA">Sinead O'Connor</a>, or even
          <a href="http://www.youtube.com/watch?v=iMYFqhXIW1o">Jane Zhang</a>, as well as many others, never 
          existed. Anyway, musicals are a thoroughly different ballgame and a very tiny, specialized niche.
          </p>
          <p>
          Let me put it this way: Charice can mimic them; I don't know if they can mimic Charice. If you want 
          to be surprised, cast Charice in a musical and be prepared to be blown away.
          </p>
          


