<!DOCTYPE html>
<html>
	<head>
		<title><%= @title %></title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
			var so = new SWFObject('/assets/player.swf','player','380','255','9');
			so.addParam('allowscriptaccess','always');
			so.addParam('allowfullscreen','true');
		
			function playVideo(video)
			{
				var flashvars = "file=/assets/" + video + "&autostart=true&skin=/assets/stylish/stylish.swf"
				so.addParam('flashvars',flashvars);
				so.write('theplayer');
				return false;
			}

			function playUserVideo(video)
			{
				var flashvars = "file=" + video + "&autostart=true&skin=/assets/stylish/stylish.swf"
				so.addParam('flashvars',flashvars);
				so.write('theplayer');
				return false;
			}

			function playUserList(list)
			{
				var flashvars = "type=playlist&repeat=list&file=/assets/" + list + "&autostart=true&skin=/assets/stylish/stylish.swf"
				so.addParam('flashvars',flashvars);
				so.write('theplayer');
				return false;
			}

			function showVideo(flashvars)
			{
				so.addParam('flashvars',flashvars);
				so.write('theplayer');
				return false;
			}
		</script>	
	</head>
	<body>
		<!--% = calendar_date_select_includes "blue" % -->
		<div id="whole_page" class="round">
			<header><!--div id="banner"-->
				<div id="banner_heading">ChariceSpace</div>
				<div id="banner_caption">An unauthorized scrapbook of the Youtube singing sensation</div>
			</header><!--/div-->
			<nav id="menu">
				<% if logged_in? %>
					<div style="float: right">
						<%= link_to_unless_current "Logout",	:controller=>"users", :action=>"logout" %> 
					</div>
					<%= link_to_unless_current "My home",		:controller=>"users", :action=>"index" %> |
					<%= link_to_unless_current "Events", 		:controller=>"users", :action=>"events" %> |
					<%= link_to_unless_current "Blogs", 		:controller=>"users", :action=>"blogs" %> 
				<% else %>
					<div style="float: right">
						<%= link_to_unless_current "Register", 	:controller=>"site", :action=>"register" %> |
						<%= link_to_unless_current "Login",			:controller=>"site", :action=>"login" %> 
					</div>
					<%= link_to_unless_current "Home", 					:controller=>"site", :action=>"index" %> | 
					<%= link_to_unless_current "Charice who?", 	:controller=>"site", :action=>"who" %> |
					<%= link_to_unless_current "Bio", 					:controller=>"site", :action=>"bio" %> |
					<%= link_to_unless_current "Events", 				:controller=>"site", :action=>"events" %> |
					<%= link_to_unless_current "Playlists", 		:controller=>"site", :action=>"playlists" %> 
				<% end %>
			</nav>
			<section id="mainwindow">
				<div id="columnleft">
          <%= render 'layouts/columnleft' %>
				</div>
				<div id="columnright">
					<%= yield %>
				</div>
			</section>
			<footer>
				<div id="myfoot">&copy; Copyright, copyleft and copywrong 2008 <a href="http://karitoy.herokuapp.com">Karitoy Online</a></div>
			</footer>
		</div>
	</body>
</html>


